.landing {
  background-image: url("../../images/bgimg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.landing_container {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  padding: 10px;
  /* position: relative; */
  /* height: 250px; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 40%;
  left: 50%;
}

h1 {
  font-size: 50px;
  margin-bottom: 15px;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.descryp {
  margin-top: 40px;
}

span {
  margin: 20px;
  font-size: 20px;
}

.btn-container {
  margin-top: 50px;
}

.landing-btn {
  padding: 8px 30px;
  margin: 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  color: #1d9bf0;
  font-weight: bold;
  outline: none;
  border: none;
  transition: all 250ms ease-in;
  text-decoration: none;
  background-color: black;
}

.landing-btn:hover {
  cursor: pointer;
  color: #1d9bf0;
  background: black;
}
