@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

.logo{
  width: 175px;
  height: 175px;
}

.logo_container{
  text-align: center;
}


.login_container{
  width: 350px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.login_input_container{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px;
  font-size: 18px;
}

.login_input_field{
  padding: 8px 13px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
  font-size: 15px;
}

.login_title{
  margin: 50px;
}

.btn{
  padding: 8px 30px;
  margin-top: 10px;
  background: #1D9BF0;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  transition: all 250ms ease-in;
  font-weight: bold;
  margin-bottom: 100px;
}

.btn:hover{
  cursor: pointer;
  color: #1D9BF0;
  background: black;
}

